

body{
    background-color: #F3F3F4;
    font-family: 'Montserrat', sans-serif;
}
.overall-container{
    max-width: 1000px;
    background-color: #7898C7;
    padding: 30px;
    border-radius: 16px;
    margin: 0, auto;
    background: linear-gradient(to bottom right, #7898C7, #f65282) 
}
.weather-app{
    background: #fff;
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5)
}

header{
    border-bottom: 1px solid #c2b9d9 ;
    padding: 0 0 30px 0;
}

main{
    padding: 30px 0;
}

a {
    color: #161515;
}

strong{
    color: #000;
}



.search-input{
    background-color: #f9f7fe;
    width: 80%;
    border: none;
    border-radius: 6px;
    padding: 15px 20px;
    font-size: 16px;
}

.submit-input{
    border: none;
    border-radius:6px ;
    padding: 15px 30px;
    font-size: 16px;
    background-color: #885df1;
    color: #fff;
    margin-left: 5px;
}

.weather-city{
    margin: 0;
    line-height: 48px;
    font-size: 38px;
}

.weather-details{
    line-height: 24px;
    font-size: 16px;
    color: rgba(39, 33, 66, 0.4);
}

.box{
    display: flex;
    justify-content: space-between;
}

.weather-temperatures{
    display: flex;
}

.weather-number{
    font-size: 75px;
    margin-left: 10px;
}

.weather-emoji{
    width: 88px;
    height: 88px;
}

.weather-degrees{
    font-size: 28px;
    margin-top: 16px;
}

.weather-forecast{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    
}

.temperature1{
    
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    
}

.monday{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.image1{
    width: 100%;
    text-align: center;
}

.weather-forecst-temperature-minimun{
    opacity: 0.5;
}

footer{
    border-top: 1px solid #c2b9d9;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}





@media screen and (max-width: 768px) {

   .search-input{
    width: 55%;
   }
   
   .submit-input{
    width: 35%;
    
   }

   .condition-classificaton{
    font-size: 5px;
   }

   .weather-number{
    font-size: 30px;
    margin-right: 80px;
   }

   .weather-degrees{
    font-size: 10px;
    margin-top: 0px;
    margin-right: 80px;
   }

   .weather-city{
    font-size: 25px;
   }
}